


<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="#">
		<title>Location Finder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Integrate India's best interactive maps from MapmyIndia into your browser application by simply including MapmyIndia's interactive map API in your script source as shown in next line -->
                <script src="https://apis.mapmyindia.com/advancedmaps/v1/5cbbe32a47e0e6e6abd994ad81b34573/map_load?v=1.5"></script>
                <style>
                    html, body, #map {	margin: 0;	padding: 0;width: 100%;height: 100%;}
                    
                </style>
	
	</head>
	<body>
            <!-- Define a Div object in the body tag of the HTML where you want the MapmyIndia Map to show up -->
            <div id="map"></div>
       
	</body>
</html>